body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.song {
  position: relative;
  width: 100vw;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: .3s;
}

.song-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: .2;
}

.group-name {
  text-align: center;
  font-size: 48px;
}

.song-name {
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
}

button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 20px 50px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
  outline: none;
}

button:hover {
  border-color: #e2e2e2;
  color: #e2e2e2;
}